h1{
    background-color: rgb(48, 47, 47);
    color: rgb(250, 242, 242);
    height: 35px;
    width: 350px;
    border-radius: 20px;
    font-size: 25px;
}

.btn{
    background-color:#8581ec;
    font-size: 20;
    color: black;
    border-color: white;
    border-width: 5px ;
}

body{
    background-size: cover;
}